<div class="card" style="width: 18rem;">
  <%= image_tag item.image, class: "card-img-top" %>
  <div class="card-body">
    <h5 class="card-title"> #<%= item.id %> <%= item.name %></h5>
    <p class="card-text"><%= item.description %></p>
    <p class="badge badge-light">Price: $ <%= item.price %></p>
    <br>
    <a href="#" class="btn btn-danger btn-sm ml-auto">Remove</a>
  </div>
</div>
