<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Admin", "/" %></li>
    <li class="breadcrumb-item"><%= link_to "Menus", menus_path %></li>
    <li class="breadcrumb-item active" aria-current="page">Menu Id <%= @menu.id %></li>
  </ol>
</nav>
<section class="container mt-5 mb-5">
  <div>
    <% if @menu.is_active %>
      <span class="badge badge-warning">Active Menu</span>
    <% end %>
    <h3 class="h3 mb-3 font-weight-normal">Menu Id: <%= @menu.id %> </h3>

  </div>
  <div class="mt-2">
    <%= form_with url: menu_path(@menu.id), method: :put, class: "d-flex align-items-center" do |form| %>
      <div class="mx-2">
        <p class="my-2 text-muted">Menu Name</p>
      </div>
      <div class=" mx-2">
        <%= form.text_field :name, class: "form-control", value: @menu.name %>
      </div>
      <div class=" mx-2">
        <%= submit_tag "Update", class: " btn btn-md btn-success btn-block" %>
      </div>
    <% end %>

  </div>
  <div class="mt-5">
    <div class="d-flex">
      <h4 class="h4 mb-3 font-weight-normal">Menu Items </h4>
      <h5><%= link_to "+ Add Items", new_menuitem_path(id: @menu.id), class: "my-1 ml-3 badge badge-pill badge-success" %></h5>
    </div>
    <div class="flex-wrap d-flex col-lg-12 justify-content-between">
      <% @menu.menu_items.all.map do |item| %>
        <div class="col-lg-3 my-2">
          <%= render partial: "itemcard", locals: { item: item } %>
        </div>
      <% end %>
    </div>
  </div>
</section>
