<section class="container mt-5 mb-5">
  <div class="text-center">
    <img class="mb-4" src="<%= asset_path("icon.svg") %>" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Please fill your details</h1>
  </div>
  <div class="col-lg-5 col-md-8 mx-auto">
    <%= form_with url: users_path, method: :post do |form| %>
      <p class="text-muted mt-1 mb-0">First Name</p>
      <%= form.text_field :first_name, class: "form-control" %>

      <p class="text-muted mt-1 mb-0">Last Name</p>
      <%= form.text_field :last_name, class: "form-control" %>

      <p class="text-muted mt-1 mb-0">Email Address</p>
      <%= form.email_field :email, class: "form-control" %>

      <p class="text-muted mt-1 mb-0">Password</p>
      <%= form.password_field :password, class: "form-control" %>

      <div class="mt-4 mb-5">
        <%= submit_tag "Sign Up", class: "btn btn-lg btn-primary btn-block" %>
      </div>
    <% end %>
  </div>
</section>
