<!DOCTYPE html>
<html>
  <head>
    <title>Cafeteria Management System</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", 'data-turbolinks-track': "reload" %>
    <%= javascript_pack_tag "application", 'data-turbolinks-track': "reload" %>
  </head>

  <body>

    <% # Navbar %>
    <div class="shadow-md rounded">
      <% if @current_user %>
        <% if @current_user.role == "owner" %>
          <%= render :partial => "layouts/headers/admin-navbar", :locals => { :current_user => @current_user } %>
        <% elsif @current_user.role == "clerk" %>
          <%= render :partial => "layouts/headers/clerk-navbar", :locals => { :current_user => @current_user } %>
        <% else %>
          <%= render :partial => "layouts/headers/user-navbar", :locals => { :current_user => @current_user } %>
        <% end %>
      <% else %>
        <%= render :partial => "layouts/headers/navbar" %>
      <% end %>
    </div>


    <div class="text-center alerts">
      <% if flash[:error] %>
        <div class="mt-2 mx-auto col-lg-4 alert alert-danger alert-dismissible fade show" role="alert">
          <strong>Error: </strong> <%= flash[:error] %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>
      <% if flash[:success] %>
        <div class="mt-2 mx-auto col-lg-4 alert alert-success alert-dismissible fade show" role="alert">
          <strong>Success</strong> <%= flash[:success] %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>
      <% if flash[:info] %>
        <div class="mt-2 mx-auto col-lg-4 alert alert-info alert-dismissible fade show" role="alert">
          <strong>Sorry</strong> <%= flash[:info] %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>
    </div>
    <%= yield %>
    <% # Footer %>
    <%= render "layouts/footer" %>
  </body>
</style>
</html>
